<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/resusight_homepage.css"/>
    <title>ResuSight</title>
    <style>
    </style>
</head>
<body>
    <b><p class="title">RESUSIGHT</p></b>
    
    <div>
        <b><p class="tagline1">Elevate Your Interview Prep 🎉</p></b>
        <b><p class="tagline2">With AI</p></b>
    </div>

    <a href="https://github.com/suhaasbadada/ResuSight" target="_blank" class="b1">BROWSE CODE</a>

    <a href="/graphql" target="_blank" class="b2">GRAPHQL🍓</a>

    <a href="/swagger" target="_blank" class="b2">SWAGGER GUI</a> 

    <div class="text-box">
        <p style="justify-content: center; align-items: center;"> 
            ResuSight, powered by OpenAI, transforms interview preparation. Our platform empowers job seekers through resume analysis and the generation of personalized interview questions, setting a new standard in preparation. 
            But that's not all. ResuSight also predicts interview questions based on job descriptions, offering invaluable insights for role-specific interviews.
            Our overarching mission is to provide a highly personalized, efficient, and insightful interview preparation journey. 
            We're here to boost your confidence, highlight your unique strengths, and guide you toward your dream job in a fiercely competitive job market. 
        </p>
    </div>
</body>
</html>
